/* Hide scrollbar for Chrome, Safari and Opera */
.tagList::-webkit-scrollbar {
    height: 5px;
    background: #f1f1f1;
}

.tagList::-webkit-scrollbar-thumb {
    background: #D3D3D3;
}

  
/* Hide scrollbar for IE, Edge and Firefox */
.tagList {
    width: 5px;
}